@use "../utils/variables";


.about {
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1000px;
    line-height: 1.5;
    text-align: justify;

    & h2 {
        margin: 0;
    }

}