.body {
    min-width: 320px;
    font-family: "Public Sans", sans-serif;
    font-weight: 14px;
    letter-spacing: .03em;
}

.main {
    color:midnightblue;
    text-align: center;
    background: linear-gradient(#99ccff -5%, #ccffcc 122%);
}

.section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.logo {
    font-size: 24px;
}

button {
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
    &:hover {
        color: royalblue;
        transition: var(--transition);   
    }
}

h2 {
    font-size: 24px;

}

@media screen and (min-width: 1200px) {
    h2 {
        margin-bottom: 50px;
    }

    .section {
        padding-bottom: 50px;
    }
    
}