@use "../utils/variables";

.footer {
    background: transparent;

    &__container {
        margin-left: auto;
        margin-right: auto;
        padding: 13px;
        width: 100%;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        color: midnightblue;
    }

    &__email {
        color: white;
        letter-spacing: 0.03em;
        &:hover .footer__svg {
            fill: royalblue;
        }
    }

    &__svg {
        position: relative;
        top: 2px;
        margin-right: 8px;
        width: 14px;
        height: 12px;
        fill: white;
    }

}

@media screen and (max-width: 370px) {
    .footer {
        &__email {
            font-size: 12px;
        }
        &__svg {
            top: 1px;
            margin-right: 2px;
            width: 10px;
            height: 8px;
        }  
    }
}

@media screen and (min-width: 768px) {
    .footer {
        &__email {
            color: midnightblue;
        }
        &__svg {
            fill: midnightblue;
        }
    }  
}

