.footer {
    width: 100%;
    padding: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.footer__svg {
    position: relative;
    top: 2px;
    margin-right: 8px;
    width: 14px;
    height: 12px;

}
