.proyectos {
    padding-left: 15px;
    padding-right: 15px;
    background-color: bisque;

    &__link {
        margin-bottom: 13px;
        padding: 24px;
        width: 96%;
        font-size: 24px;
        color:midnightblue ;
        background: cornsilk;
        border-radius: 4px;
        
        &:hover,
        &:focus {
            border: 2px solid midnightblue;
            transition: var(--transition);
        }

        &:active {
            color: cornsilk;
            background: midnightblue;
            transition: var(--transition);
        }
    }
}

@media screen and (min-width: 768px) {
    .proyectos {

        &__container {
            margin-left: auto;
            margin-right: auto;
            padding-left: 15px;
            padding-right: 15px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            max-width: 1200px;
        }

        &__link {
            width: calc(32%);
            padding: 70px;
        }
    }
}